<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<style>
    *{font-family: "Raleway", sans-serif}
</style>
<div fxLayout="column" fxFlex="100%" fxLayoutAlign="center">
    <div *ngIf= "exists; then displayData"></div>
        <ng-template #displayData>
            <div class = "card center">
                <div class="container center textCenter">
                    <img class="center" [src]="profileData.picture">
                    <div>{{ profileData.username }}</div>
                </div>
                <div class="container center textCenter">    
                    <i [ngClass]="defaultVote == 1 ? 'fas fa-chevron-up highlight': 'fas fa-chevron-down'"
                    onMouseOver="this.style.cursor='pointer'"
                    (click)="upvote()"
                    ></i>{{ profileData.upvotes }}
                    <i [ngClass]="defaultVote == 0 ? 'fas fa-chevron-down highlight': 'fas fa-chevron-down'"
                    onMouseOver="this.style.cursor='pointer'"
                    (click)="downvote()"
                    ></i>{{ profileData.downvotes }}
                </div>
            </div>

            <div class = "card center" style="width: 20%;">
                <div class="container center textCenter comment">
                    <div>
                        {{ profileData.bio }}
                    </div>
                </div>
            </div>

            <div class = "card center">
                <form class="container center textCenter" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                    <label>
                        Comment
                        <textarea rows="3" cols="25" type="text" formControlName="comment"></textarea>
                    </label>
                    <button type="submit">Post</button>
                </form>
            </div>

            <div *ngFor="let comment of comments">
                <div class="card center" style="width: 35%;">
                    <div class="container center">
                        <div fxLayout="row" fxFlex="20%" fxLayoutAlign="start">
                            <img class="picture" [src]="comment.picture">
                        </div>
                        <div fxLayout="row" fxFlex="80%" fxLayoutAlign="start">
                            <div fxLayout="column" fxFlex="100%" fxLayoutAlign="space-between">
                                <div fxLayoutAlign="start">
                                    {{comment.commenter}}
                                </div>
                                <div fxLayoutAlign="start">
                                    <p class="comment">
                                        {{comment.comment}}
                                    </p>
                                </div>
                                <div fxLayoutAlign="end">
                                    {{comment.time}}
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </ng-template>

    <div *ngIf= "showError; then error"></div>
        <ng-template #error>
            <div>User not found</div>
        </ng-template>

</div>
