<style>
    *{font-family: "Raleway", sans-serif}
</style>

<div *ngIf="auth.user$ | async as user">
    <img [src]="user.picture" >
    <div>{{ user.preferred_username }}</div>
    <div>{{ user.email }}</div>
</div>
<div>
    <form *ngIf="profileData" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label>
            Bio:
            <input type = "text" formControlName="bio">
        </label>
        <button type="submit">Save</button>
    </form>
</div>

<div *ngIf= "profileData">
    {{ profileData.upvotes }}
    {{ profileData.downvotes }}
</div>