.background {
    background-image: url('https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 1%;
    margin-top: 1%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 16px 16px;
}

img {
    height: 300px;
    width: 300px;
    margin-bottom: 5%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textCenter {
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0px;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: .3s ease;
    background-color: grey;
}

.icon {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.edit {
    position: relative
}

.edit:hover .overlay {
    opacity: 0.4;
}

button[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    margin-top: 8px;
    border: none;
    cursor: pointer;
}
  
button[type=submit]:hover {
    background-color: #45a049;
}

textarea{
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    margin-top: 8px;
}