.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 1%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 16px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    height: 320px;
    width: 320px;
    margin-bottom: 5%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textCenter {
    text-align: center;
}