<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<style>
    *{font-family: "Raleway", sans-serif}
</style>

<div fxLayout="column" fxFlex="100%" fxLayoutAlign="center">
    <div class="card center" *ngIf="auth.user$ | async as user" >
        <div class="container center textCenter">
            <img class="center" [src]="profileData.picture">
            <div>{{ user.preferred_username }}</div>
            <div>{{ user.email }}</div>
        </div>
        <div class="container center textCenter" *ngIf= "profileData">
            <i class="fas fa-chevron-up"></i>
            {{ profileData.upvotes }}
            <i class="fas fa-chevron-down"></i>
            {{ profileData.downvotes }}
        </div>
    </div>


    <div class="card center">
        <div class="container center">
            <form *ngIf="profileData" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <label>
                    <div class="textCenter">Bio</div>
                    <input type="text" formControlName="bio">
                </label>
                <div class="textCenter">
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>