<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
*{font-family: "Raleway", sans-serif}
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<div>
    <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <label class="signup">
            Username:
            <input type = "text" formControlName="Username">
        </label>
        <br>
        <label class="signup">
            Password:
                <input id="password1" type="password" formControlName="Password" showHideInput>
        </label>
                <button class="visibility-eye" type="button" showHideTrigger="password1">
                    <i class="fas fa-eye"></i>
                </button>
        <br>
        <label class="signup">
            Email:
            <input type="text" formControlName="Email">
        </label>
        <br>
        <button id="submit-button" type="submit">Register</button>
    </form>
    
</div>