<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<style>
    *{font-family: "Raleway", sans-serif}
</style>
<div class="background">
    <div fxLayout="column" fxFlex="100%" fxLayoutAlign="center">
        <div class='card center'>
            <div class="container center textCenter">
                <i class="fas fa-angle-left"></i> A simple, centralized place to store reputation <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <div class="center" fxLayout="row" fxFlex="100%" fxLayoutAlign="center" style="width: 80%;">
            <div class='card center tile'>
                <div class="container center textCenter">
                    <i class="fas fa-angle-left"></i> Get Started <i class="fas fa-angle-right"></i>
                </div>
                <div class="container center textCenter">
                    Create a profile by <b>Registering</b>
                    <div>
                        <i class="fas fa-angle-right"></i> REGISTER
                    </div>
                </div>
                <div class='card center replica'>
                    <div class="container center textCenter">
                        <img class="center examplePicture" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png">
                        <div>
                            <i class="far fa-user"></i>
                            <b>    
                                John Doe
                            </b>
                        </div>
                        <div>
                            <i class="far fa-envelope"></i>    
                            john.doe@gmail.com
                        </div>
                    </div>
                    <div class="container center textCenter">
                        <i class="fas fa-chevron-up"></i>
                        0
                        <i class="fas fa-chevron-down"></i>
                        0
                    </div>
                </div>
                <div class="container center textCenter">
                    Default Profile
                </div>
                <div class='card center' style="width: 90%;">
                    <div fxLayout="row" fxFlex="100%">
                        <div class="container center textCenter" style="width: 15%;">
                            <img class="center examplePicture2" src="https://cdn.freebiesupply.com/logos/thumbs/2x/auth0-logo.png">
                        </div>
                        <div class="container2 center">
                            Authentication is handled by <b>Auth0</b>
                        </div>
                    </div>
                </div>

            </div>
            <div class='card center tile'>
                <div class="container center textCenter">
                    <i class="fas fa-angle-left"></i> Edit Profile <i class="fas fa-angle-right"></i>
                </div>
                <div class="container center textCenter">
                    Edit a customizable <b>Picture</b> and <b>Bio</b>
                    <div>
                        <i class="fas fa-angle-right"></i> PROFILE
                    </div>
                </div>
                <div class='card center replica'>
                    <div class="container center textCenter">
                        <img class="center examplePicture" src="https://i.postimg.cc/Kvj3TxZ0/editphoto.jpg">
                    </div>
                </div>
                <div class='card center replica'>
                    <div class="container center textCenter" style="margin-top: 3%;">
                        <img class="center examplePicture" src="https://i.postimg.cc/Pf9T6jW3/imageadd.jpg">
                    </div>
                </div>
                <div class="container center textCenter">
                    <div>
                        Hover over current photo,
                    </div>
                    <div>
                        Enter the new image URL and save
                    </div>
                </div>
            </div>
            <div class='card center tile'>
                <div class="container center textCenter">
                    <i class="fas fa-angle-left"></i> Write Experiences <i class="fas fa-angle-right"></i>
                </div>
                <div class="container center textCenter">
                    <div>
                        Share an experience with another User
                    </div>
                    <div>
                        <i class="fas fa-angle-right"></i> REP
                    </div>
                </div>
                <div class='card center replica'>
                    <div class="container center textCenter">
                        <img class="center examplePicture" src="https://i.postimg.cc/YCs60RTy/vote.jpg">
                    </div>
                </div>
                <div class="container center textCenter">
                    <div>
                        Choose to Upvote or Downvote
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
