.w3-padding{
    padding-top:15px!important;
    padding-bottom:15px!important
}
.w3-container{
    padding:0.01em 15px
}
.w3-center{
    text-align:center!important
}
.button {
    margin-right: 5px;
    margin-left: 5px
}