.w3-padding{
    padding-top:15px!important;
    padding-bottom:50px!important
}
.w3-container{
    padding:0.01em 15px
}
.w3-center{
    text-align:center!important
}
.button {
    margin-right: 5px;
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#000000;
    text-align:center;
    transition: all 0.15s;
}
.button:hover{
    color:#837575;
    border-color:#DDDDDD;
}