<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
*{font-family: "Raleway", sans-serif}
</style>

<header class="w3-container w3-center w3-padding"> 
    <h1><b>MYREP</b></h1>
    <nav>
        <div *ngIf = "(auth.isAuthenticated$ | async) === false; then internal else external"></div>
        <ng-template #internal>
            <app-login></app-login>
        </ng-template>
        <ng-template #external>
            <button class = "button" [routerLink] = "userPage">
                Rep
            </button>
            <button class = "button" routerLink = "/profile">
                Profile
            </button>
            <app-logout></app-logout>
        </ng-template>
    </nav>
</header>

<router-outlet></router-outlet>