.w3-padding-32{
    padding-top:32px!important;
    padding-bottom:32px!important
}
.w3-container{
    padding:0.01em 16px
}
.w3-center{
    text-align:center!important
}
.w3-tag{
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px
}